
.firstDiv{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    color: white;


}
.students{
    background-image: url("img/moneda.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
    background-position: center;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    grid-column: span;
    position: absolute;
    border:none;
    text-align: center;
    color: #083901;



}
.students:hover{
    /*color: rgba(225, 225, 225, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;*/
    transform:rotateY(180deg);
}
body{
    background-image: url("img/bosque.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Lobster', cursive;

}
.lista{

    image-repeat: no repeat;
    background-size: 100% 100%;
    display:flex;
    justify-content: center;
    align-items: center;



}
.hijolista{
    justify-content: center;
    align-items: center;
    grid-column: span;
    position: absolute;
    margin-top: 130px;

}
img{
    left: 60%;
}






